@{
    var series = Model.Get<SeriesItem>("Series");
}

@if (series != null && (series.NextInSeries != null || series.LastInSeries != null)) {
<text>
    <a class="btn btn-default" href="@(Context.GetLink(series.NextInSeries ?? series.LastInSeries))" title="@((series.NextInSeries ?? series.LastInSeries).String(Keys.Title))">
        @((series.NextInSeries ?? series.LastInSeries).String(Keys.Title))
        <i class="fa fa-caret-right"></i>
    </a>
</text>
}